@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;&display=swap');
*{
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}

.main-div{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}

.child-div{
    width: 250px;
    text-align: center;
    padding: 12px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
}
img{
    width: 250px;
    border-radius: 15px;
}

.contain-div{
    padding: 25px 6px;
}
.contain-div .heading{
    font-size: 18px;
    color: hsl(218, 44%, 22%);
    margin-bottom: 15px;
    font-weight: 700;
}
.contain-div .para{
    font-size: 14px;
    line-height: 20px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

